<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 Atos Origin.
  *
  *    
  * All rights reserved. This program and the accompanying materials
  * are made available under the terms of the Eclipse Public License v1.0
  * which accompanies this distribution, and is available at
  * http://www.eclipse.org/legal/epl-v10.html
  *
  * Contributors:
  *  Anne Haugommard(Atos Origin) anne.haugommard@atosorigin.com - Initial API and implementation
  *
-->

<plugin>
   <extension-point id="query" name="Query" schema="schema/query.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.topcased.org/query2table/1.0"
            class="org.topcased.model2doc.query2table.Query2tablePackage"
            genModel="model/query2table.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="query2table"
            class="org.topcased.model2doc.query2table.util.Query2tableResourceFactoryImpl"/>
   </extension>

</plugin>
